.get-involved {
  background: url('/images/about-honda.png') no-repeat;
  background-size: cover;
  margin-top: 90px;
  min-height: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.container {
  color: black;
}
