body {
  background-color: #fff;
  color: #222222;
}

.container, a {
  color: #222;
}

.mastfoot {
  color: black;
}

@media (min-width: 768px) {
  .mastfoot {
    position: static;
    bottom: 0;
  }
}

.involved {
  margin-top: 90px;
  color: black;
}

.involved-section {
  padding-bottom: 40px;
  padding-top: 15px;
  border: 10px solid #fff;
  margin-top: 10px;
  margin-bottom: 10px;
}

.thum {
  height: 125px;
  width: auto;
  border: 5px solid #fff;
}
